Repository SWE574-G3/SWE-574-G3, pull requests merged in 2024-12, with the labels that each got.

#114 [DEV][FRONTEND] Issue 56-100: Sending Invitation, accept or reject an invitation, User Invitation List and Accept or Reject
  Communitter/src/main/java/com/communitter/api/controller/CommunityController.java
  Communitter/src/main/java/com/communitter/api/mapper/CommunityMapper.java
  Communitter/src/main/java/com/communitter/api/repository/CommunityRepository.java
  Communitter/src/main/java/com/communitter/api/service/CommunityService.java
  communitter-frontend/package-lock.json
  communitter-frontend/package.json
  communitter-frontend/src/components/Communities.js
  communitter-frontend/src/components/Invitations.js
  communitter-frontend/src/components/NewInvitationModal.js
  communitter-frontend/src/components/UserInvitations.js
  communitter-frontend/src/pages/communityPage.js
  communitter-frontend/src/pages/userPage.js
  communitter-frontend/src/utilities/roles.js
Labels: enhancement, Frontend, ready for review

#139 Feature/134/add enumeration type fields
  Communitter/src/main/java/com/communitter/api/model/DataField.java
  Communitter/src/main/java/com/communitter/api/model/DataFieldEnumValue.java
  Communitter/src/main/java/com/communitter/api/repository/DataFieldEnumValueRepository.java
  Communitter/src/main/java/com/communitter/api/service/TemplateService.java
  Communitter/src/main/java/com/communitter/api/util/PostValidator.java
  Communitter/src/main/resources/data.sql
  README.md
  report/m2_g3.md
Labels: enhancement, Backend, ready for review

#135 [DEV][#133] Making header menu mobile friendly
  communitter-frontend/src/css/nav.css
  communitter-frontend/src/pages/loginPage.js
  communitter-frontend/src/pages/nav.js
  communitter-frontend/src/pages/shared.js
Labels: enhancement, Frontend, ready for review

#141 Feature/138/add enumeration type fields
  communitter-frontend/package.json
  communitter-frontend/src/components/EditPostModal.js
  communitter-frontend/src/components/EnumerationPostField.js
  communitter-frontend/src/components/PostCardField.js
  communitter-frontend/src/components/postModal.js
  communitter-frontend/src/components/templateModal.js
Labels: enhancement, Frontend, ready for review

#147 [DEV][BACKEND] Issue 140: User follow functionality
  Communitter/src/main/java/com/communitter/api/controller/UserController.java
  Communitter/src/main/java/com/communitter/api/dto/UserFollowInfoDto.java
  Communitter/src/main/java/com/communitter/api/dto/UserFolloweeDto.java
  Communitter/src/main/java/com/communitter/api/dto/UserFollowerDto.java
  Communitter/src/main/java/com/communitter/api/mapper/UserMapper.java
  Communitter/src/main/java/com/communitter/api/model/UserFollow.java
  Communitter/src/main/java/com/communitter/api/repository/UserFollowRepository.java
  Communitter/src/main/java/com/communitter/api/service/UserService.java
Labels: enhancement, Backend, ready for review

#153 fixed the runtime error for filtering enum templates
  communitter-frontend/package-lock.json
  communitter-frontend/src/components/AdvancedSearch.js
Labels: bug, Frontend, Enumerated Data Type

#146 [BUGFIX][FRONTEND] Issue 144: Fix edit post endpoint in activity stream posts
  communitter-frontend/src/pages/communityPage.js
Labels: bug

#136 Feature/127/homepage redisgn
  Communitter/src/main/resources/application.properties
  communitter-frontend/src/App.js
  communitter-frontend/src/components/PostCard.js
  communitter-frontend/src/pages/communitiesPage.js
  communitter-frontend/src/pages/homePage.js
  communitter-frontend/src/pages/nav.js
Labels: Frontend
